<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piyush.magicalmethods">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AddToDatabaseActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.ExploreActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.DevelopersActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.HelpAndFeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".CourseDetail"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomTheme" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentWebviewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.PaymentResponseActivity"
            android:label="@string/title_activity_payment_response_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="payment_response" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CourseDetailsActivity"
            android:label="@string/title_activity_course_details_new"
            android:theme="@style/AppTheme.Appcompat" />
        <activity
            android:name=".activity.PurchasedCoursesActivity"
            android:label="@string/title_activity_purchased_courses"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>